$background-colour: #272b3d;
$footer-colour:  #0c0c0c;
$primary-colour: #2F2F2F;

$secondary-color: #492fa1;
$secondary-color-hover: #341D87;
$warning-color:#700202;
$font-colour: #D8D8D8;
// $font-colour-secondary: #ff5cd6;
$font-colour-secondary: #4761ff;
$font-hover-color: #010108;
$primary-font: 'comfortaa';
$secondary-font: 'firacode';
