$background-colour: #180f29;
$footer-colour:  #0c0c0c;
$primary-colour: #2F2F2F;

$secondary-color: #492fa1;
$secondary-color-hover: #341D87;
$warning-color:#700202;
$font-colour: #f2f1f0;
// $font-colour-secondary: #ff5cd6;
$font-colour-secondary: #4761ff;
$font-hover-color: #010108;
$primary-font: 'firacode';
$secondary-font: 'firacode';


// Menu button styling

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 60px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  display: none;
  border: 3px solid #fff; 
}
.menu-btn__burger {
  width: 30px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

@media only screen and (max-width: 600px) {
  .menu-btn {
    display: contents;
  }

}
